<!DOCTYPE html>
<html>
    <head>
        <title>Виготовлення меблів на замовлення Тернопіль</title>
        <meta charset="utf-8">
        <meta name="description" content="Виготовлення меблів на замовлення для магазину, дому, бару та офісу Тернопіль">
        <meta name="keywords" content="Меблі,дизайн,кухні,шафи-купе,шафи,виготовлення,тернопіль">
        <link rel="stylesheet" type="text/css" href="styles/reset.css">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/popup.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="js/modernizr.custom.js"></script>
    </head>
    <body>
        <header class="min-wrap">
            <div class="header-top">
                <div class="wrap-top">
                    <img src="images/logo.png" alt="logo-main"/>
                    <div class="desc-left">
                        Виготовлення меблів на замовлення для магазину, дому та офісу.
                    </div>
                    <div class="contact-header">
                        <span>(067) 360-69-09</span>
                        <span>(063) 078-97-40</span>
                        <span>(050) 100-53-20</span>
                        <span id="order-phone">Замовити дзвінок</span>
                    </div>
                </div>
            </div>
            <div class="header-main">
                <div class="wrap-main">
                    <h1>Створення ексклюзивних кухонь та шаф-купе</h1>
                    <div class="button-wrap">
                        <span>
                            <button id="get-consult" class="button-yellow">Отримати консультацію</button>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <section class="main-content">
            <div class="tasks">
                <h2>Які завдання ми вирішуємо</h2>
                <div class="tasks-moving">
                    <li class="first">
                        <div class="text left">Безкоштовний виїзд дизайнера</div>
                        <div class="image"></div>
                    </li>
                    <li class="second">
                        <div class="text right">Індивідуальний підхід до кожного клієнта</div>
                        <div class="image"></div>
                    </li>
                    <li class="third">
                        <div class="text left">Дизайн та виробництво ексклюзивних кухонь та шаф-купе</div>
                        <div class="image"></div>
                    </li>
                </div>
            </div>
        </section>
            <!--- Slider -->
        <section id="dg-container-one" class="dg-container">
                <div class="dg-wrapper">
                    <a href="#"><img src="images/kitchen/kitchen1.png" alt="sakura"></a>
                    <a href="#"><img src="images/kitchen/kitchen2.png" alt="black-cherry"></a>
                    <a href="#"><img src="images/kitchen/kitchen3.png" alt="cremona"></a>
                    <a href="#"><img src="images/kitchen/kitchen4.png" alt="classic-brown"></a>
                    <a href="#"><img src="images/kitchen/kitchen5.png" alt="sun set"></a>
                    <a href="#"><img src="images/kitchen/kitchen6.png" alt="zebrano"></a>
                    <a href="#"><img src="images/kitchen/kitchen7.png" alt="classic-black"></a>
                </div>
                <nav>   
                    <span class="dg-prev">&lt;</span>
                    <span class="dg-next">&gt;</span>
                </nav>
                <div class="btn-wrap">
                    <button id="get-catalog-kitchen" class="button-yellow">Подивитись каталог</button>
                </div>
         </section>
          <section id="dg-container-two" class="dg-container">
                <div class="dg-wrapper">
                    <a href="#"><img src="images/closet/closet3.png" alt="black and white"></a>
                    <a href="#"><img src="images/closet/closet4.png" alt="sakura-closet"></a>
                    <a href="#"><img src="images/closet/closet5.png" alt="green"></a>
                </div>
                <nav>   
                    <span class="dg-prev">&lt;</span>
                    <span class="dg-next">&gt;</span>
                </nav>
                <div class="btn-wrap">
                    <button id="get-catalog-closet" class="button-yellow">Подивитись каталог</button>
                </div>
            </section>
            <!--- End Slider -->
        <section class="gmaps">
            <div class="map-content">
                <h3>Як нас знайти?</h3>
                <h4>м.Тернопіль вул. генера Тарнавського 18/100</h4>
                <div id="map"></div>
                <div class="question">
                    <p>Меблі доступні в кредит</p>
                </div>
            </div>
        </section>
        <footer>
            <div class="footer">
                <div class="wrap-top">
                    <img src="images/logo.png" alt="logo-footer" />
                    <div class="desc-left">
                        Виготовлення меблів на замовлення для магазину, дому та офісу.
                    </div>
                    <div class="contact-footer">
                        <span>(067)360-69-09</span>
                        <span>(063)078-97-40</span>
                        <span>(050)100-53-20</span>
                        <span id="order-phone-footer">Замовити дзвінок</span>
                    </div>
                </div>
            </div>
        </footer>
        <div id="return-content"></div>
            <div id="fixed-bg" class="bg"></div>
        <script type="text/javascript" src="js/jquery.gallery.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
